<div class="service-container">
    <h1 class="service-title text-center">Service</h1>
    <div class="row">
        <div class="col-sm-6">
            <h2>Free Download</h2>
            <ul>
                <li>YouTubeなどの動画BGMとしてお使い下さい。</li>
                <li>使用の際は必ずDayz MusiqのYouTubeまたは<br>instagramアカウントのURLを概要欄にて紹介して下さい。</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h2>SongWriting</h2>
            <ul>
                <li>あなただけのオリジナルソングを提供します。</li>
                <li>インストゥルメント・歌モノどちらも可能です。</li>
                <li>動画のオープニングやエンディング曲としてお使い頂けます。</li>
                <li>ご希望の方は【お問い合わせ】からご連絡ください。</li>
            </ul>
        </div>
    </div>
</div>