// _header.html.erbレイアウト
.header {
    background-color: #080a0c3d;
    margin: 0;
}

.header h1 {
    font-size: 20px;
}

.navbar-logo {
    float: left;
    margin: -8px -9px;
}

.navbar-logo-image {
    width: 60px;
}

.navbar-sns ul li{ 	
    display: inline-block;
}

.navbar-sns {
    margin-left: auto;
}

.nav-image {
    margin: -4px;
    width: 25px;
}

.nav-link {
    font-size: 15px;
}


// bodyのheaderレイアウト
.main-header, .overlay:before {
    background: image-url('dayz_image1.jpg') no-repeat;
    background-size: cover;
    background-position: top;
}

.main-header {
    padding: 11% 5% 31%;
}

.overlay {
    max-height: 200px;
    margin: 0px auto;
    max-width: 768px;
    overflow: hidden;
    padding: 2.5%;
    position: relative;
    border-radius: 10px;
    color: white;
    position: relative;
    text-align: center;
    z-index: 0;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        filter: blur(11px);
        z-index: -1;
    }
}


// song-contentsレイアウト
.song-content {
    width: 100%;
    height: 100%;
    background: image-url('dayz_image2.jpg');
    background-size: cover;
    border-radius: 20px;
    position: relative;
    z-index: 0;
    &:before {
        content: '';
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        background: inherit;
        filter: blur(10px);
        z-index: -1;
    }
}

.container > .song-content{
    padding: 20px 15px 15px 0;
}

.song-title {
    color: #fff;
    padding-bottom: 8%;
}

.song-content p {
    color: #fff;
    line-height: 30px;
    padding-bottom: 2%;
}

.getTrack-button {
    background-color: #bf7979;
    color: #fff;
    font-size: 1.5vw;
    margin-top: 20%;
    width: 86%;
}

.download-button {
    font-size: 1.5vw;
    margin-top: 20%;
    width: 70%;
}

.pagination {
    margin: 20px 0;
}


// 文字サイズ
@media screen and (min-width: 992px) { 
    .header-title {
        font-size: 4.5vw;
    }
    .song-title {
        font-size: 2.7vw;
    }
    .song-content p {
        font-size: 1.6vw;;
    }
    .service-title h1, .card-header h3 {
        font-size: 3.6vw;
    }
    .card-header h3 {
        font-size: 2.0vw;
    }
}

@media screen and (max-width: 991.98px) { 
    .header-title {
        font-size: 5.0vw;
    }
    .song-title {
        font-size: 3.1vw;
    }
    .song-content p {
        font-size: 2.2vw;;
    }
    .service-title h1 {
        font-size: 4.5vw;
    }
    .card-header h3 {
        font-size: 3.3vw;
    }
}

@media screen and (max-width: 576px) { 
    .header-title {
        font-size: 5.8vw;
    }
    .song-content p {
        font-size: 2.6vw;;
    }
    .service-title h1 {
        font-size: 6.7vw;
    }
    .card-header h3 {
        font-size: 5.4vw;
    }
}

// _section.html.erbレイアウト
.container-fluid {
    background-color: #e0d2d0;
    padding-top: 50px;
    padding-bottom: 30px;
}

.service-title h1 {
    font-weight: bold;
}

.card-container {
    text-align: center;
}

.card-deck {
    display: inline-block;
    margin-right: 10px;
    min-width: 220px;
    padding-top: 30px;
}

.card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    flex-direction: column;
    margin-right: 10px;
    width: 278px;
    min-width: 278px;
    height: 471px;
    min-height: 471px;
    max-width: inherit;
    position: relative;
}

.card-header, .card-body {
    border-radius: 5px;
    padding: 46px 20px;
    height: auto;
    width: 100%;
}

.card-header {
    background-color: #888b8e;
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #fff;
}

.card-body {
    flex: 1 1 auto;
}
    
.card-list {
    text-align: left;
    word-wrap:break-word;
}

.card-list li {
    list-style-type: none;
    position: relative;
    padding-left: 0.8em;
}
.card-list li:before {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    left: 0;
    top: 0.6em;
    background: #F48FB1;
    content: "";
    }
    
.card-list li span {
    color: #3e3c3c;
    font-size: 13px;
}


// commentsレイアウト
#comments > div {
    margin: 0 auto;
}

.comments-container {
    font-family: Helvetica;
    background-color: #f7f7f7;
    margin-top: 50px;
    padding-bottom: 30px;
}

@media screen and (min-width: 992px) { 
    #comment-field, .comments-list-item {
        width: 80vw;
    }
    .comments-header h4 {
        font-size: 22px;
    }
    .comments-header img {
        width: 22px;
    }
    #comment-field, #submit, .comments-list-item {
        font-size: 19px;
    }
    
}

@media screen and (max-width: 991.98px) { 
    #comment-field, .comments-list-item {
        width: 86vw;
    }
    .comments-header h4 {
        font-size: 20px;
    }
    .comments-header img {
        width: 18px;
    }
    #comment-field, #submit, .comments-list-item {
        font-size: 17px;
    }
}

@media screen and (max-width: 576px) { 
    #comment-field, .comments-list-item {
        width: 86vw;
    }
    .comments-header h4 {
        font-size: 18px;
    }
    .comments-header img {
        width: 15px;
    }
    #comment-field, #submit, .comments-list-item {
        font-size: 14px;
    }
}

#comment-field {
    border: 1px solid #a4aab7;
    margin: 10px 0;
    outline: 0;
    height: 90px;
}

.comments-header img {
    margin-left: 4px;
}

.comments-box-button {
    margin: 10px 0;
}

#comments .comments-list {
    padding: 0 30px;
}

.comments-list-item {
    border-bottom: 1px solid #a4aab7;
    list-style: none;
    margin-bottom: 20px;
}

.comments-list-text {
    padding: 0 18px 30px 18px;
}